.item {
  background-color: #fff;
  padding: 0 var(--gap-16);

  a {
    display: flex;
    gap: var(--gap-16);
    border-bottom: 1px solid var(--gray-100);
    padding: var(--gap-16) 0;
  }

  img {
    border-radius: var(--b-radius);
  }
}

.item-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-info {
  flex-basis: 50%;

  .price-details {
    margin-bottom: var(--gap-32);

    span {
      font-size: var(--font-24);
      margin-right: var(--gap-16);
    }
  }

  h2 {
    font-size: var(--font-18);
    font-weight: 400;
  }
}

.city-info {
  font-size: var(--font-12);
  color: var(--gray-500);
  flex-basis: 20%;
}
