.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--yellow);
}

.search-form {
  display: flex;
  padding: 1rem 2rem;
  width: calc(100% / 12 * 10);
  height: 4rem;

  .logo-container {
    display: flex;
    align-items: center;
    margin-right: 3rem;
  }

  input {
    flex-grow: 1;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: var(--b-radius) 0px 0px var(--b-radius);
    font-size: var(--font-18);
    box-sizing: border-box;
  }

  button {
    border: none;
    background: var(--gray-100);
    cursor: pointer;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
